<div ng-controller="AddpostCtrl" class="md-whiteframe-z2">

	<md-toolbar>
		<div class="md-toolbar-tools">
	        <h2>
	          <span>Add post</span>
	        </h2>
	        <span flex></span>
	        <md-button ng-href="#/listview" class="md-icon-button" aria-label="close">
	          <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_close_48px.svg"></md-icon>
	        </md-button>
	      </div>
	  </md-toolbar>

	<md-content layout-padding>
		<md-input-container>
			<label>Ticket</label>
			<input ng-model="post.ticket">
		</md-input-container>
   
        <md-input-container flex>
	        <md-select-label>Number of tickets</md-select-label>
	      <md-select ng-model="post.numberOfTickets" aria-label="Number of Tickets">
	        <md-option ng-repeat="number in possibleNumber" value="{{ number }}">{{ number }}</md-option>
	      </md-select>
	    </md-input-container>

	    <md-input-container>
			<label>Price per Ticket (£)</label>
			<input ng-maxlength="2" ng-model="post.cost">
			<div ng-messages="projectForm.clientName.$error">
			  <div class="price-notice" ng-message="ng-maxlength">Please do not sell tickets above face value</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label>Pick-up</label>
			<input id="searchTextField" type="text" placeholder=" " ng-model="post.location">
		</md-input-container>

		<div id="map-canvas" style="width: 100%; height: 300px"></div>

		<fieldset  class="standard">
			<legend>Contact me via:</legend>
			<md-checkbox ng-model="post.contact.email">
	          email
	        </md-checkbox>
	        <md-checkbox ng-model="post.contact.text">
	          text
	        </md-checkbox>
	        <md-checkbox ng-model="post.contact.facebook">
	          facebook
	        </md-checkbox>

    	</fieldset>


	</md-content>

	<md-button class="md-raised md-primary button-wide">Post</md-button>

</div>