<div ng-controller="ListviewCtrl" class="list-container">
    <div class="search-container">
    	<md-input-container class="search-posts">
	    	<label>Search</label>
	        <input ng-model="searchText.words">
	    </md-input-container>

	    <md-select class="sort-list" ng-model="sortBy" placeholder="Sort">
	    	<md-option ng-repeat="mode in sortModes" value="{{ mode.code }}">{{ mode.label }}</md-option>
		</md-select>
  	</div>

	<div class="list-container" ng-repeat="pst in posts | searchAll:searchText.words | orderBy:sortBy">
		<div ng-click="openPostDetails($event, pst)"><post info="pst"></post></div>
	</div>

	
</div>