<div ng-controller="ListviewCtrl" id="listview" class="listview-container">
    <div class="search-container">
    	<md-input-container class="search-posts">
	    	<label>Search</label>
	        <input ng-model="searchText.words">
	    </md-input-container>

	    <md-select class="sort-list" ng-model="sortBy" placeholder="Sort">
	    	<md-option ng-repeat="mode in sortModes" value="{{ mode.code }}">{{ mode.label }}</md-option>
		</md-select>
  	</div>

	<post id=" id{{ pst.id }}" ng-repeat="pst in posts | searchAll:searchText.words | orderBy:sortBy" ng-click="openPostDetails($event, pst)" info="pst">
	</post>
	
</div>