<div ng-controller="LoginCtrl">
	<h3>Please login to your {{ university }} account</h3>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Email</label>
      <input ng-model="user.email" type="email">
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input ng-model="theMax" type="password">
    </md-input-container>
    <md-input-container flex>
    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"> Remember Me
  </md-input-container>
  <md-input-container flex>
    <a ng-href="#/tool">
      <md-button class="md-raised md-primary button-wide">Submit</md-button>
    </a>
  </md-input-container>
  </div>

</div>