<div class="container-welcome md-whiteframe-z2">
  <h1>Hello</h1>
  <p>Welcome to unisalad, home to all your studenty needs!</p>

  <div ng-controller="MainCtrl" class="to-bottom bottom-padding">
    <md-select class="select-uni" placeholder="Select your university" ng-model="university" ng-change="uniSelected()">
    <md-option ng-repeat="uni in universities" value="{{ uni }}">{{ uni }}</md-option>
    </md-select>
    
    <md-button ng-click="goToSign('up')" class="md-raised md-primary button-wide">Sign Up</md-button>
  </div>
</div>
