<md-bottom-sheet class="post-detail-sheet">
	<p>extra info about the post if it exists</p>
<div>
	<md-grid-list md-cols="3">
	  <md-grid-list-header>
	    <h3>Contact</h3>
	  </md-grid-list-header>

		<md-grid-list-item>
	    	<md-button class="md-grid-item-content" ng-click="">
	        	<md-icon md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_message_48px.svg"></md-icon>
	        	<div class="md-grid-text"> Text </div>
	     	</md-button>
	    </md-grid-list-item>

	    <md-grid-list-item>
	    	<md-button class="md-grid-item-content" ng-click="">
	        	<md-icon md-svg-src="images/icons/fb_icon.svg"></md-icon>
	        	<div class="md-grid-text"> fb </div>
	     	</md-button>
	    </md-grid-list-item>

	    <md-grid-list-item>
	    	<md-button class="md-grid-item-content" ng-click="">
	        	<md-icon md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_email_48px.svg"></md-icon>
	        	<div class="md-grid-text"> Email </div>
	     	</md-button>
	    </md-grid-list-item>

	</md-grid-list>
</div>

</md-bottom-sheet>