.view-animate-container {
  position:relative;
  background:white;
  height:100%;
  overflow-x: hidden;
}

.view-animate {
  padding:0;
  background-color: white;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;

  display:block;
  height:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0;
}

.view-animate.ng-enter {
  top:100%;
}
.view-animate.ng-enter.ng-enter-active {
  top:0;
}
.view-animate.ng-leave.ng-leave-active {
  top:-100%;
}