.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.container {
  margin: 4%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*----------------------------------------------------------------------------------*/
/*------------------------------------Main Page-------------------------------------*/
/*----------------------------------------------------------------------------------*/

.select-uni {
  margin-top: 50px;
  margin-bottom: 5px;
  width: 94%;
  margin-left: 8px;
  margin-right: 8px;
}

h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 4px;
}

.button-wide {
  width: 94%;
}

md-select-label {
  width: 100%;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------------sidenavs--------------------------------------*/
/*----------------------------------------------------------------------------------*/


.md-toolbar-tools > .to-right, .to-right {
  margin-left: auto;
}

.no-margins {
  margin: 0;
}

md-sidenav .md-sidenav-right {
  position: relative;
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------posts page-----------------------------------*/
/*----------------------------------------------------------------------------------*/

md-card {
  margin: 4px;
}

.search-posts {
  padding-bottom: 10px;
}

.sort-list {
  padding-top: 0;
  padding-bottom: 10px;
}

.add-post {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.post-card {
  margin-right: 0;
  margin-left: 0;
}

.card-title {
  border-bottom: solid 1px #ddd;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------------add post page-----------------------------------*/
/*----------------------------------------------------------------------------------*/

p.select-label {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  height: 26px;
}

md-input-container > md-select {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        display: block;
        background: none;
        border-width: 0 0 1px 0;
        line-height: 26px;
        -ms-flex-preferred-size: 26px;
        border-radius: 0;
        margin: 0;
        padding-top: 4px;
}

md-input-container > md-select-label {
        padding-top: 4px;
        font-size: 0.75em;
        color: rgba(0,0,0,0.54);
}

div .price-notice {
  color: rgba(0,0,0,0.54);
}
